/* Css reset:  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  /* Setting line-height to 1.4 to match FluentUI designs on
	https://developer.microsoft.com/en-us/fluentui#/controls/web/text */
  line-height: 1.4;
  /* Break long words to avoid them to overflow their container */
  word-break: break-word;
}
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

:root {
  /* Gradient pallete:  */
  --gradient-dark: linear-gradient(91deg, #363636 0%, #fe590f 100%);
  --gradient-light: linear-gradient(250deg, #ffccb5 0%, #fe590f 80.02%);
  --gradient-complementary: linear-gradient(270deg, #3f5efb 0%, #fe590f 90.96%);
  --gradient-glassmorphic: linear-gradient(
    135deg,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );

  /* Color pallete:  */
  --orange-50: #ffeee7;
  --orange-100: #ffccb5;
  --orange-200: #ffb391;
  --orange-300: #fe905e;
  --orange-400: #fe7a3f;
  --orange-500: #fe590f;
  --orange-600: #e7510e;
  --orange-700: #b43f0b;
  --orange-800: #8c3108;
  --orange-900: #6b2506;

  --black-50: #ebebeb;
  --black-100: #c1c1c1;
  --black-200: #a3a3a3;
  --black-300: #787878;
  --black-400: #5e5e5e;
  --black-500: #363636;
  --black-600: #313131;
  --black-700: #262626;
  --black-800: #1e1e1e;
  --black-900: #171717;

  --gray-50: #f7f7f6;
  --gray-100: #e7e6e4;
  --gray-200: #dbd9d7;
  --gray-300: #cbc8c5;
  --gray-400: #c1bdba;
  --gray-500: #b1ada9;
  --gray-600: #a19d9a;
  --gray-700: #7e7b78;
  --gray-800: #615f5d;
  --gray-900: #4a4947;

  /* Box Shadows: */
  --shadow-xs: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-l: 2px 2px 15px 0px rgba(57, 80, 107, 0.15);
  --shadow-xl: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-2xl: 0px 6px 30px 0px rgba(57, 80, 107, 0.2);

  /* font sizes:  */
  --h1: 5rem;
  --h2: 3.75rem;
  --h3: 2.5rem;
  --h4: 1.875rem;
  --h5: 1.5rem;
  --h6: 1.25rem;

  /* font weights:  */
  --bold: 700;
  --semi_bold: 500;
  --normal: 400;
  --thin: 200;
}

/* Kalame fonts:  */
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff2/KalamehWebFaNum-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff2/KalamehWebFaNum-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/woff2/KalamehWebFaNum-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/KalamehWebFaNum-SemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/KalamehWebFaNum-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/KalamehWebFaNum-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/KalamehWebFaNum-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--gray-200); */
  /* background: var(--gradient-light); */
  font-family: KalamehWebFaNum;
  max-width: 1360px;
  margin: 0 auto;
  direction: rtl;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
.container-content {
  width: 1164px;
  margin: 0 auto;
}
section {
  padding: 50px 0;
}
.top-header {
  background: var(--gradient-glassmorphic);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 36px;
  position: fixed;
  z-index: 10;
  width: 1360px;
}
.logo {
  width: 134px;
  height: 55px;
}
.top-menu {
  display: flex;
  gap: 8px;
}
.btn-orange {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  background: var(--orange-500);
  border-radius: 11px;
}
.btn-orange:hover {
  background: var(--gradient-light);
}
.top-header .bio-language {
  display: flex;
  gap: 5px;
}
.top-header .bio-language a {
  color: var(--black-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.top-header .bio-language a:hover {
  color: var(--orange-500);
  text-decoration: underline;
}

/* Hero section  */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.hero .img-slider {
  width: 100%;
}
.hero .img-slider img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.hero .hero-info {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  direction: ltr;
  padding: 20px 61px;
  align-items: center;
  gap: 90px;
  border-radius: 17px;
  backdrop-filter: blur(5px);
  background: var(--gradient-glassmorphic);
  bottom: 50px;
}
.hero .hero-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}
.hero .hero-info p span {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.35px;
}

/* Kasbo kar:  */

.kasbokar-home {
  background: #fff;
  padding-top: 100px;
}
h3.home-title {
  color: var(--black-500);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.35px;
  padding: 0 0 54px 0;
  position: relative;
}

h3.home-title:before {
  content: " ";
  display: block;
  height: 9px;
  width: 76px;
  position: absolute;
  top: 18%;
  right: -98px;
  background: var(--orange-500);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.kasbokar-rect {
  background: var(--gradient-dark);
  width: 100%;
  height: 108px;
  border-radius: 32px;
  box-shadow: var(--shadow-2xl);
}
.kasbokar-circles {
  display: flex;
  justify-content: space-around;
}
.kasbokar-circle {
  width: 185px;
  display: flex;
  flex-direction: column;
  margin-top: -138px;
}
.kasbokar-circle .circle {
  width: 166px;
  height: 166px;
  border-radius: 50%;
  background: var(--orange-500);
  box-shadow: var(--shadow-xl);
}
.kasbokar-circle .circle:hover {
  background: var(--gradient-light);
}
.kasbokar-circle span {
  padding-top: 37px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.comments-home {
  background: #f6ac8b54;
}

.comments-rect {
  width: 1164px;
  /* height: 215px; */
  background: var(--gradient-glassmorphic);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 50px 0;
}
.comments-home .partner-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.partner-brands h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.35px;
  /* padding: 10px 0; */
}
.comments-home .partner-logos {
  width: 95%;
  height: 150px;
}
.comment-box {
  padding: 46px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}
.comment-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: var(--shadow-2xl);
}
.comment-box .ceo-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid 3px var(--orange-400);
  gap: 10px;
  padding-right: 20px;
}
.comment-box .ceo-comment h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}
.comment-box .ceo-comment p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.about-us {
  background: url(img/bg\ about\ us.png);
}

.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  /* flex-direction: row-reverse; */
}

.about-us-content .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-us-content .right p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}
.about-us-content .right .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.about-us-content img {
  width: 550px;
  height: 730px;
  border-radius: 38px;
}
