/* Css reset:  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
ul,
li {
  list-style: none;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  /* Setting line-height to 1.4 to match FluentUI designs on
	https://developer.microsoft.com/en-us/fluentui#/controls/web/text */
  line-height: 1.4;
  /* Break long words to avoid them to overflow their container */
  word-break: break-word;
}
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

:root {
  /* Gradient pallete:  */
  --gradient-dark: linear-gradient(91deg, #363636 0%, #fe590f 100%);
  --gradient-light: linear-gradient(250deg, #ffccb5 0%, #fe590f 80.02%);
  --gradient-complementary: linear-gradient(270deg, #3f5efb 0%, #fe590f 90.96%);
  --gradient-glassmorphic: linear-gradient(
    135deg,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  --gradient-glassmorphic-orange: linear-gradient(
    235deg,
    #fe590fad 0%,
    rgba(255, 255, 255, 0.4) 100%
  );

  /* Color pallete:  */
  --orange-50: #ffeee7;
  --orange-100: #ffccb5;
  --orange-200: #ffb391;
  --orange-300: #fe905e;
  --orange-400: #fe7a3f;
  --orange-500: #fe590f;
  --orange-600: #e7510e;
  --orange-700: #b43f0b;
  --orange-800: #8c3108;
  --orange-900: #6b2506;

  --black-50: #ebebeb;
  --black-100: #c1c1c1;
  --black-200: #a3a3a3;
  --black-300: #787878;
  --black-400: #5e5e5e;
  --black-500: #363636;
  --black-600: #313131;
  --black-700: #262626;
  --black-800: #1e1e1e;
  --black-900: #171717;

  --gray-50: #f7f7f6;
  --gray-100: #e7e6e4;
  --gray-200: #dbd9d7;
  --gray-300: #cbc8c5;
  --gray-400: #c1bdba;
  --gray-500: #b1ada9;
  --gray-600: #a19d9a;
  --gray-700: #7e7b78;
  --gray-800: #615f5d;
  --gray-900: #4a4947;

  /* Box Shadows: */
  --shadow-xs: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-l: 2px 2px 15px 0px rgba(57, 80, 107, 0.15);
  --shadow-xl: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-2xl: 0px 6px 30px 0px rgba(57, 80, 107, 0.2);

  /* font sizes:  */
  --h1: 5rem;
  --h2: 3.75rem;
  --h3: 2.5rem;
  --h4: 1.875rem;
  --h5: 1.5rem;
  --h6: 1.25rem;

  /* font weights:  */
  --bold: 700;
  --semi_bold: 500;
  --normal: 400;
  --thin: 200;
}

/* Kalame fonts:  */
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff2/KalamehWebFaNum-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff2/KalamehWebFaNum-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/woff2/KalamehWebFaNum-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/KalamehWebFaNum-SemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/KalamehWebFaNum-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/KalamehWebFaNum-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/KalamehWebFaNum-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: KalamehWebFaNum;
  margin: 0 auto;
  direction: rtl;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
.container-content {
  width: 90%;
  margin: 0 auto;
  z-index: 3;
}
section {
  padding: 50px 0;
}
.top-header {
  background: var(--gradient-glassmorphic-orange);
  backdrop-filter: blur(9px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}
.logo {
  width: 134px;
}
.top-menu {
  display: flex;
  gap: 8px;
}
.mobile-menu-icon {
  display: none;
}

.btn-orange {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 10px 20px;
  background: var(--orange-500);
  border-radius: 11px;
}
.btn-white {
  font-size: 16px;
  color: var(--orange-500);
  display: flex;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 11px;
  border: 2px solid var(--solid-primary-primary-500, #fe590f);
}
.btn-orange:hover {
  background: var(--gradient-light);
}
.btn-white:hover {
  border: 1px solid #fff;
  background: var(--gradient-light);
  color: #fff;
}
.top-header .bio-language {
  display: flex;
  gap: 5px;
}
.top-header .bio-language a {
  color: var(--black-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.top-header .bio-language a:hover {
  color: var(--orange-500);
  text-decoration: underline;
}

/* Hero section  */
.hero {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 50vh; */
}
.hero .round-circle {
  position: absolute;
  bottom: -423px;
  width: 140%;
  height: 500px;
  background: #fff;
  border-radius: 95% 95% 95% 95%;
}
.hero .img-slider {
  width: 100%;
}

.hero .img-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero h1 {
  position: absolute;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  bottom: 60%;
}
.hero h1 > span {
  margin-top: 30px;
  display: block;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero .hero-info {
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  direction: ltr;
  align-items: center;
  border-radius: 17px;
  backdrop-filter: blur(5px);
  background: var(--gradient-glassmorphic);
  bottom: 40px;
}
.hero .hero-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero .hero-info p span {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.35px;
}

.kasbokar-home {
  background: #fff;
}
h3.home-title {
  color: var(--black-500);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.35px;

  position: relative;
  right: 29px;
}

h3.home-title:before {
  content: " ";
  display: block;
  height: 9px;
  width: 76px;
  position: absolute;
  top: 13%;
  right: -98px;
  background: var(--orange-500);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.kasbokar-rect {
  background: var(--gradient-dark);
  width: 100%;
  border-radius: 32px;
  box-shadow: var(--shadow-2xl);
}
.kasbokar-circles {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.kasbokar-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kasbokar-circle .circle {
  border-radius: 50%;
  background: var(--orange-500);
  box-shadow: var(--shadow-xl);
}
.kasbokar-circle .circle:hover {
  background: var(--gradient-light);
}
.kasbokar-circle span {
  padding-top: 15px;
  text-align: center;
}

.comments-home {
  background: #f6ac8b54;
}

.comments-rect {
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.comments-home .partner-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.group-logos .logo-box {
  display: flex;
  justify-content: space-between;
  border-radius: 27px;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0.4) 100%);
  padding: 20px 45px 65px 45px;
}
.group-logos .logo-box .each-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow-2xl);
}
.group-logos .logo-box img {
  object-fit: cover;
}
.comments-home .partner-logos {
  width: 95%;
  margin: 0 auto;
}
.comment-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}
.comment-box img.ceo-comment-logo {
  border-radius: 50%;
  box-shadow: var(--shadow-2xl);
}
.comment-box .ceo-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: solid 3px var(--orange-400);
  gap: 10px;
  padding-right: 20px;
}

.about-us {
  background: url(img/bg\ about\ us.png);
}

.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-us-content .right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-us-content .right p {
  text-align: justify;
}
.about-us-content .right .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.about-us-content img {
  border-radius: 38px;
}
.govahiname {
  position: relative;
}
.govahiname-bg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-light);
  height: 200px;
  width: 100%;
}
.govahiname .each-govahiname {
  border-radius: 38px;
  overflow: hidden;
}
.govahiname .each-govahiname a:hover {
  transform: scale(1.5);
}
.govahiname img:hover {
  transition: all 1000ms ease;
  transform: scale(1.2);
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.maghalat .each-maghale img {
  border-top: solid 16px var(--orange-500);
}
.each-maghale h3,
.each-akhbar h3 {
  text-align: right;
}
.maghalat p,
.akhbar p {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}
.each-maghale a,
.each-akhbar a {
  align-self: flex-end;
}
.akhbar .each-akhbar {
  height: 400px;
}
.each-akhbar img {
  margin-bottom: 20px;
}

footer {
  background: var(--black-500);
  padding: 40px 0 10px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.footer-menu img {
  width: 120px;
}

.footer-menu p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.footer-menu nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer h3 {
  color: var(--orange-600);
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}
.footer-menu a {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
footer a:hover {
  color: var(--orange-500);
}
/* .footer-menu .contact-en .fa {
  margin-right: 10px;
} */
.footer-menu .social-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.footer-menu i {
  font-size: 30px;
}
footer .copy-right p {
  border-top: 1px solid var(--gray-500);
  color: var(--gray-300);
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
}
/* swiper slider  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about-us page */
/* ////////////////
////////////////
/////////////// */
.about-us-single-contents {
  display: flex;
  flex-direction: column;
}
.about-us-single-contents .about-us-content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.about-us-single-contents img {
  height: 580px;
}
.our-team {
  background: var(--gradient-light);
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.our-team .round-circle {
  position: absolute;
  bottom: 117px;
  width: 2000px;
  height: 433px;
  background: #fff;
  border-radius: 30%;
}
.our-team-cards {
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.our-team-cards .each-cards {
  width: 250px;
  height: 350px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  padding: 10px;
  gap: 50px;
  border: 4px solid var(--orange-400);
  color: var(--orange-500);
  flex-grow: 1;
}
.our-team-cards .each-cards:hover {
  background: var(--gradient-light);
  color: #fff;
}
.our-team-cards .each-cards .team-card-img {
  background: var(--orange-50);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.our-team-cards .team-card-text {
  text-align: center;
}
.our-team-cards .team-card-text h2 {
  font-size: 24px;
  font-weight: 700;
}
.our-team-cards .team-card-text p {
  font-size: 24px;
}

/* prodcut page */
/* ///////////////
///////////////
/////////////// */
nav.products-navbar {
  margin-top: 20px;
  display: flex;
  background: var(--orange-500);
  width: 100%;
  padding: 0 74px;
}
nav.products-navbar > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
nav.products-navbar a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}
nav.products-navbar ul li:hover {
  background: var(--gradient-light);
}
nav.products-navbar ul li {
  position: relative;
  padding: 5px 10px;
}

nav.products-navbar ul li ul {
  position: absolute;
  display: none;
  top: 47px;
  right: 0;
  width: 300px;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  background: var(--orange-500);
}
nav.products-navbar ul li ul li {
  padding-right: 30px;
}
nav.products-navbar ul li ul a {
  font-size: 14px;
  color: #fff;
}
nav.products-navbar ul li ul li:last-child {
  border-radius: 0 0 10px 10px;
}
nav.products-navbar ul li:hover ul {
  display: block;
}

.products-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.products {
  position: relative;
  background: var(--gradient-dark);
  height: 150px;
  border-radius: 3px;
  overflow: hidden;
}
.products img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products p {
  position: absolute;
  bottom: 0;
  color: #fff;

  text-align: center;
  width: 100%;
  padding: 10px 0;
  transition: all 500ms ease;
}
.products:hover p {
  background: #00000089;
  text-align: center;
}
.products-info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--gradient-dark);
  position: relative;
  overflow: hidden;
}
.products-info .round-circle {
  position: absolute;
  top: -223px;
  width: 140%;
  height: 500px;
  background: #fff;
  border-radius: 95% 95% 95% 95%;
  z-index: 3;
}
.products-info img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.23;
}
.products-info-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products-info-text h1 {
  color: var(--orange-500);
  text-align: right;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
  letter-spacing: -0.7px;
}
.products-info-text span {
  color: var(--orange-500);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  letter-spacing: -0.4px;
}
.products-info-text p {
  text-align: justify;
  margin-top: 150px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
}

/* media queries
///////////////////////////////
///////////////////////////////
///////////////////////////////*/
@media only screen and (min-width: 315px) {
  .container-content {
    width: 100%;
  }
  .top-header {
    background: var(--orange-500);
  }
  .top-menu {
    display: none;
  }
  .top-header .bio-language {
    display: none;
  }
  .mobile-menu-icon {
    display: flex;
  }
  .logo {
    width: 100px;
  }
  .hero h1 {
    font-size: 24px;
    right: 20px;
  }
  .hero h1 > span {
    font-size: 20px;
    margin-top: 10px;
  }
  .hero .hero-info {
    width: 95%;
    padding: 10px;
    gap: 5px;
  }
  .hero .hero-info p {
    font-size: 18px;
    line-height: 20px;
  }
  .hero .hero-info p span {
    font-size: 12px;
    line-height: 20px;
  }
  section {
    padding: 15px 0;
  }
  .container-content {
    width: 90%;
    margin: 0 auto;
  }
  h3.home-title {
    font-size: 20px;
    padding: 0 90px 30px 0;
    right: -25px;
  }
  h3.home-title:before {
    right: 0;
    top: 22%;
  }
  h3.home-title ~ .btn-orange {
    padding: 3px 12px;
    font-size: 14px;
  }
  .kasbokar-rect {
    height: 24px;
  }
  .kasbokar-circle {
    width: 80px;
    margin-top: -40px;
  }
  .kasbokar-circle .circle {
    width: 50px;
    height: 50px;
  }
  .kasbokar-circle span {
    padding-top: 10px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
  }
  .partner-brands h2 {
    font-size: 24px;
  }
  .comment-box {
    padding: 30px 10px;
    gap: 15px;
  }
  .comment-box img.ceo-comment-logo {
    width: 68px;
    height: 68px;
  }
  .group-logos .logo-box {
    padding: 10px;
    gap: 5px;
  }
  .group-logos .logo-box .each-logo {
    width: 35px;
    height: 35px;
  }
  .comment-box .ceo-comment h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .comment-box .ceo-comment p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .about-us-content .right p {
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .about-us-content .right .buttons {
    justify-content: space-between;
  }
  .about-us-content img {
    display: none;
  }
  .about-us .buttons > a {
    flex-grow: 1;
  }
  .govahiname {
    padding-bottom: 50px;
  }
  .govahiname-bg {
    height: 50px;
  }
  .govahiname .each-govahiname {
    height: 120px;
    border-radius: 18px;
  }
  .myMaghale .each-maghale {
    height: 300px;
    border-radius: 18px;
  }
  .myMaghale .each-maghale img {
    height: 50%;
  }
  .akhbar .each-akhbar {
    height: 450px;
  }
  .each-maghale h3,
  .each-akhbar h3 {
    font-size: 14px;
    margin-bottom: 5px;
    height: 16px;
  }
  .maghalat p,
  .akhbar p {
    font-size: 12px;
    line-height: 16px;
    /* height: 30%; */
  }
  .each-maghale a,
  .each-akhbar a {
    margin-top: 5px;
    font-size: 10px;
  }
  .btn-white {
    padding: 5px;
  }
  .akhbar .each-akhbar {
    height: 300px;
  }
  .each-akhbar img {
    height: 50%;
  }
  .footer-menu {
    flex-direction: column;
    text-align: center;
  }

  nav.products-navbar {
    display: none;
  }
  .products-menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .products {
    height: 75px;
  }
  .products-info .round-circle {
    top: -360px;
    width: 230%;
    height: 500px;
    border-radius: 90%;
  }
  .products p {
    font-size: 16px;
    padding: 5px 0;
  }
  .products-info-text h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .products-info-text span {
    font-size: 16px;
    line-height: 20px;
  }
  .products-info-text p {
    margin-top: 80px;
    font-size: 14px;
    line-height: 24px;
  }
  .hero .round-circle {
    bottom: -460px;
    width: 250%;
  }
  .our-team-cards {
  }
}

/* Big Mobile and Tablet Devices */
/* ////////////////////
////////////////////
/////////////////// */
@media only screen and (min-width: 600px) {
  .top-menu .btn-orange {
    font-size: 12px;
    padding: 10px;
  }
  .top-header .bio-language a {
    font-size: 16px;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero h1 > span {
    font-size: 28px;
    margin-top: 30px;
  }
  .hero .hero-info {
    width: 95%;
    padding: 15px;
    gap: 15px;
  }
  .hero .hero-info p {
    font-size: 24px;
    line-height: 44px;
  }
  .hero .hero-info p span {
    font-size: 16px;
    line-height: 20px;
  }

  h3.home-title {
    font-size: 24px;
  }
  .kasbokar-rect {
    height: 34px;
  }
  .kasbokar-circle {
    width: 80px;
    margin-top: -50px;
  }
  .kasbokar-circle .circle {
    width: 60px;
    height: 60px;
  }
  .kasbokar-circle span {
    font-size: 12px;
  }
  .partner-brands h2 {
    font-size: 28px;
  }
  .group-logos .logo-box {
    padding: 10px;
    gap: 5px;
  }
  .group-logos .logo-box .each-logo {
    width: 45px;
    height: 45px;
  }
  .comment-box img.ceo-comment-logo {
    width: 80px;
    height: 80px;
  }
  .comment-box .ceo-comment h3 {
    font-size: 20px;
  }
  .comment-box .ceo-comment p {
    font-size: 16px;
    line-height: 22px;
  }

  .about-us-content .right p {
    font-size: 21px;
  }

  .govahiname-bg {
    height: 100px;
  }
  .govahiname .each-govahiname {
    height: 200px;
    border-radius: 18px;
  }
  .myMaghale .each-maghale {
    height: 350px;
  }
  .myMaghale .each-maghale img {
    margin-bottom: 10px;
    height: 40%;
  }

  .each-maghale h3,
  .each-akhbar h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .maghalat p,
  .akhbar p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .akhbar .each-akhbar {
    height: 350px;
  }
  .each-akhbar img {
    height: 40%;
    margin-bottom: 10px;
  }
  .footer-menu {
    flex-direction: row;
  }
  .products-menu {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .products {
    height: 100px;
  }
  .products-info-text h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .products-info-text span {
    font-size: 20px;
    line-height: 20px;
  }
  .products-info-text p {
    margin-top: 70px;
    font-size: 14px;
    line-height: 24px;
  }
}
/* /////////////////////////
////////////////////////////
/////////////////////////// */
@media only screen and (min-width: 768px) {
  section {
    padding: 25px 0;
  }
  .top-header {
    background: var(--gradient-glassmorphic-orange);
  }
  .top-menu {
    display: flex;
  }
  .top-header .bio-language {
    display: flex;
  }
  .mobile-menu-icon {
    display: none;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h1 > span {
    font-size: 32px;
  }
  .hero .hero-info p {
    font-size: 32px;
    line-height: 50px;
  }
  .hero .hero-info p span {
    font-size: 20px;
  }
  h3.home-title {
    font-size: 30px;
    right: -68px;
  }
  .kasbokar-rect {
    height: 50px;
  }
  .kasbokar-circle {
    width: 100px;
    margin-top: -66px;
  }
  .kasbokar-circle .circle {
    width: 80px;
    height: 80px;
  }
  .kasbokar-circle span {
    font-size: 16px;
  }
  .group-logos .logo-box .each-logo {
    width: 55px;
    height: 55px;
  }
  .about-us-content {
    gap: 30px;
  }

  .about-us-content img {
    height: 500px;
    display: block;
  }
  .govahiname .each-govahiname {
    height: 280px;
  }
  .each-maghale a,
  .each-akhbar a {
    font-size: 18px;
  }
  .products {
    height: 120px;
  }
  .products-info-text h1 {
    font-size: 32px;
    line-height: 30px;
  }
  .products-info-text span {
    font-size: 24px;
    line-height: 24px;
  }
  .products-info-text p {
    margin-top: 90px;
    font-size: 16px;
    line-height: 24px;
  }
}
/*/////////////////////// .
.////////////////////////
. //////////////////////*/
@media only screen and (min-width: 1080px) {
  section {
    padding: 45px 0;
  }
  .container-content {
    width: 90%;
  }
  .top-menu .btn-orange {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 15px;
  }
  .top-header .bio-language a {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 40px;
    right: 98px;
  }
  .hero h1 > span {
    font-size: 32px;
  }
  .hero .hero-info {
    padding: 20px 61px;
  }
  .hero .hero-info p {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4px;
  }
  .hero .hero-info p span {
    font-size: 30px;
    line-height: 37px;
  }
  h3.home-title {
    font-size: 30px;
    padding-bottom: 54px;
    right: -68px;
  }
  .kasbokar-rect {
    height: 70px;
  }
  .kasbokar-circle {
    width: 140px;
    margin-top: -98px;
  }
  .kasbokar-circle .circle {
    width: 120px;
    height: 120px;
  }
  .kasbokar-circle span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }
  .group-logos .logo-box .each-logo {
    width: 110px;
    height: 110px;
  }
  .partner-brands h2 {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.35px;
    padding-bottom: 30px;
  }
  .comment-box {
    padding: 40px;
  }

  .comment-box img.ceo-comment-logo {
    width: 120px;
    height: 120px;
  }
  .comment-box .ceo-comment h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
  }
  .comment-box .ceo-comment p {
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
  }
  .about-us-content {
    gap: 30px;
  }

  .about-us-content .right p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  .about-us-content img {
    height: 650px;
    display: block;
  }
  .govahiname .each-govahiname {
    height: 350px;
  }
  .maghalat .each-maghale img {
    margin-bottom: 20px;
  }
  .each-maghale h3,
  .each-akhbar h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .maghalat p,
  .akhbar p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .each-maghale a,
  .each-akhbar a {
    font-size: 20px;
  }
  .akhbar .each-akhbar {
    height: 500px;
  }
  .each-akhbar img {
    height: 300px;
    margin-bottom: 20px;
  }
  .products {
    height: 140px;
  }
  .products p {
    font-size: 24px;
  }
  .products-info .round-circle {
    top: -320px;
  }
  .products-info-text {
    gap: 15px;
  }
  .products-info-text h1 {
    font-size: 40px;
    line-height: 30px;
  }
  .products-info-text span {
    font-size: 28px;
    line-height: 24px;
  }
  .products-info-text p {
    margin-top: 90px;
    font-size: 20px;
    line-height: 30px;
  }
}
