/* Css reset:  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
body {
  /* Setting line-height to 1.4 to match FluentUI designs on
	https://developer.microsoft.com/en-us/fluentui#/controls/web/text */
  line-height: 1.4;
  /* Break long words to avoid them to overflow their container */
  word-break: break-word;
}
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

:root {
  /* Gradient pallete:  */
  --gradient-dark: linear-gradient(91deg, #363636 0%, #fe590f 100%);
  --gradient-light: linear-gradient(250deg, #ffccb5 0%, #fe590f 80.02%);
  --gradient-complementary: linear-gradient(270deg, #3f5efb 0%, #fe590f 90.96%);
  --gradient-glassmorphic: linear-gradient(
    135deg,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  --gradient-glassmorphic-orange: linear-gradient(
    235deg,
    #fe590fad 0%,
    rgba(255, 255, 255, 0.4) 100%
  );

  /* Color pallete:  */
  --orange-50: #ffeee7;
  --orange-100: #ffccb5;
  --orange-200: #ffb391;
  --orange-300: #fe905e;
  --orange-400: #fe7a3f;
  --orange-500: #fe590f;
  --orange-600: #e7510e;
  --orange-700: #b43f0b;
  --orange-800: #8c3108;
  --orange-900: #6b2506;

  --black-50: #ebebeb;
  --black-100: #c1c1c1;
  --black-200: #a3a3a3;
  --black-300: #787878;
  --black-400: #5e5e5e;
  --black-500: #363636;
  --black-600: #313131;
  --black-700: #262626;
  --black-800: #1e1e1e;
  --black-900: #171717;

  --gray-50: #f7f7f6;
  --gray-100: #e7e6e4;
  --gray-200: #dbd9d7;
  --gray-300: #cbc8c5;
  --gray-400: #c1bdba;
  --gray-500: #b1ada9;
  --gray-600: #a19d9a;
  --gray-700: #7e7b78;
  --gray-800: #615f5d;
  --gray-900: #4a4947;

  /* Box Shadows: */
  --shadow-xs: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-l: 2px 2px 15px 0px rgba(57, 80, 107, 0.15);
  --shadow-xl: 0px 4px 12px 0px rgba(57, 80, 107, 0.15);
  --shadow-2xl: 0px 6px 30px 0px rgba(57, 80, 107, 0.2);

  /* font sizes:  */
  --h1: 5rem;
  --h2: 3.75rem;
  --h3: 2.5rem;
  --h4: 1.875rem;
  --h5: 1.5rem;
  --h6: 1.25rem;

  /* font weights:  */
  --bold: 700;
  --semi_bold: 500;
  --normal: 400;
  --thin: 200;
}

/* Kalame fonts:  */
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff2/KalamehWebFaNum-Thin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Thin.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff2/KalamehWebFaNum-Light.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Light.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/woff2/KalamehWebFaNum-Medium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Medium.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff2/KalamehWebFaNum-SemiBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff2/KalamehWebFaNum-ExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff2/KalamehWebFaNum-Black.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Black.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff2/KalamehWebFaNum-Bold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("fonts/woff/KalamehWebFaNum-Bold.woff")
      format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: KalamehWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff2/KalamehWebFaNum-Regular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/woff/KalamehWebFaNum-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: var(--gray-200); */
  /* background: var(--gradient-light); */
  font-family: KalamehWebFaNum;
  /* max-width: 1360px; */
  margin: 0 auto;
  direction: rtl;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
.container-content {
  width: 90%;
  margin: 0 auto;
}
section {
  padding: 50px 0;
}
.top-header {
  background: var(--gradient-glassmorphic-orange);
  backdrop-filter: blur(9px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}
.logo {
  width: 134px;
}
.top-menu {
  display: flex;
  gap: 8px;
}
.mobile-menu-icon {
  display: none;
}

.btn-orange {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  background: var(--orange-500);
  border-radius: 11px;
}
.btn-white {
  color: var(--orange-500);
  display: flex;
  height: 46px;
  padding: 8px 22px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 11px;
  border: 2px solid var(--solid-primary-primary-500, #fe590f);
}
.btn-orange:hover {
  background: var(--gradient-light);
}
.btn-white:hover {
  border: 1px solid #fff;
  background: var(--gradient-light);
  color: #fff;
}
.top-header .bio-language {
  display: flex;
  gap: 5px;
}
.top-header .bio-language a {
  color: var(--black-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.top-header .bio-language a:hover {
  color: var(--orange-500);
  text-decoration: underline;
}

/* Hero section  */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.hero .img-slider {
  width: 100%;
}
.hero .img-slider img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.hero h1 {
  position: absolute;
  color: #fff;
  text-align: right;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  bottom: 50%;
  right: 98px;
}
.hero h1 > span {
  margin-top: 30px;
  display: block;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.hero .hero-info {
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  direction: ltr;
  padding: 20px 61px;
  align-items: center;
  /* gap: 90px; */
  border-radius: 17px;
  backdrop-filter: blur(5px);
  background: var(--gradient-glassmorphic);
  bottom: 50px;
}
.hero .hero-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}
.hero .hero-info p span {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.35px;
}

/* Kasbo kar:  */

.kasbokar-home {
  background: #fff;
}
h3.home-title {
  color: var(--black-500);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.35px;
  padding: 0 0 54px 0;
  position: relative;
  right: 29px;
}

h3.home-title:before {
  content: " ";
  display: block;
  height: 9px;
  width: 76px;
  position: absolute;
  top: 13%;
  right: -98px;
  background: var(--orange-500);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.kasbokar-rect {
  background: var(--gradient-dark);
  width: 100%;
  height: 70px;
  border-radius: 32px;
  box-shadow: var(--shadow-2xl);
}
.kasbokar-circles {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.kasbokar-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -103px;
}
.kasbokar-circle .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--orange-500);
  box-shadow: var(--shadow-xl);
}
.kasbokar-circle .circle:hover {
  background: var(--gradient-light);
}
.kasbokar-circle span {
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.comments-home {
  background: #f6ac8b54;
}

.comments-rect {
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.comments-home .partner-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.group-logos .logo-box {
  display: flex;
  justify-content: space-between;
  border-radius: 27px;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0.4) 100%);
  padding: 20px 45px 65px 45px;
}
.group-logos .logo-box .each-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 120px;
  height: 120px;
  /* background: var(--orange-500); */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--shadow-2xl);
}
.group-logos .logo-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.partner-brands h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.35px;
  padding-bottom: 10px;
}
.comments-home .partner-logos {
  width: 95%;
  /* height: 150px; */
  margin: 0 auto;
}
.comment-box {
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
}
.comment-box img.ceo-comment-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: var(--shadow-2xl);
}
.comment-box .ceo-comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: solid 3px var(--orange-400);
  gap: 10px;
  padding-right: 20px;
}
.comment-box .ceo-comment h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}
.comment-box .ceo-comment p {
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.about-us {
  background: url(img/bg\ about\ us.png);
}

.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  /* flex-direction: row-reverse; */
}

.about-us-content .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-us-content .right p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  text-align: justify;
}
.about-us-content .right .buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.about-us-content img {
  width: 550px;
  height: 730px;
  border-radius: 38px;
}
.govahiname {
  position: relative;
}
.govahiname-bg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-light);
  height: 200px;
  width: 100%;
}
.govahiname .each-govahiname,
.maghalat .each-govahiname {
  height: 465px;
  background: #d9d9d9;
  border-radius: 38px;
  overflow: hidden;
}
.govahiname .each-govahiname a:hover {
  transform: scale(1.5);
}
.govahiname img:hover {
  transition: all 1000ms ease;
  transform: scale(1.2);
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.maghalat .each-maghale {
  width: auto;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
.maghalat .each-maghale img {
  border-top: solid 16px var(--orange-500);
  margin-bottom: 20px;
}
.each-maghale h3,
.each-akhbar h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
  height: 50px;
  text-align: right;
}
.maghalat p,
.akhbar p {
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}
.each-maghale a,
.each-akhbar a {
  align-self: flex-end;
}
.akhbar .each-akhbar {
  width: auto;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
.each-akhbar img {
  height: 450px;
  margin-bottom: 20px;
}

footer {
  background: var(--black-500);
  padding: 40px 0;
}
footer .footer-menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .footer-right,
footer .footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  gap: 30px;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer h3 {
  color: var(--orange-600);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}
footer a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}
footer a:hover {
  color: var(--orange-500);
}

/* swiper slider  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* media queries
///////////////////////////////
///////////////////////////////
///////////////////////////////*/
@media only screen and (max-width: 400px) {
  .hero .hero-info p {
    font-size: 14px;
  }
  .hero .hero-info p span {
    font-size: 12px;
  }
}
/* Mobile and Tablet Devices */
@media only screen and (max-width: 720px) {
  .container-content {
    width: 100%;
  }
  .top-header {
    background: var(--orange-500);
  }
  .top-menu {
    display: none;
  }
  .top-header .bio-language {
    display: none;
  }
  .mobile-menu-icon {
    display: flex;
  }
  .logo {
    width: 100px;
  }

  .top-menu > a {
    padding: 3px 5px;
    font-size: 10px;
  }

  .hero h1 {
    font-size: 30px;
    right: 30px;
  }
  .hero h1 > span {
    font-size: 20px;
    margin-top: 10px;
  }
  .hero .hero-info {
    width: 95%;
    padding: 20px;
    gap: 5px;
  }
  .hero .hero-info p {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .hero .hero-info p span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }
  section {
    padding: 20px 0;
  }
  .container-content {
    width: 90%;
    margin: 0 auto;
  }
  h3.home-title {
    font-size: 22px;
    padding: 0 90px 30px 0;
    right: -25px;
  }
  h3.home-title:before {
    right: 0;
    top: 22%;
  }
  h3.home-title ~ .btn-orange {
    padding: 3px 12px;
    font-size: 14px;
  }
  .kasbokar-rect {
    height: 34px;
  }
  .kasbokar-circle {
    width: 100px;
    margin-top: -50px;
  }
  .kasbokar-circle .circle {
    width: 64px;
    height: 64px;
  }
  .kasbokar-circle span {
    padding-top: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
  .partner-brands h2 {
    font-size: 24px;
  }
  .comment-box {
    padding: 30px 10px;
    gap: 15px;
  }
  .comment-box img.ceo-comment-logo {
    width: 68px;
    height: 68px;
  }
  .group-logos .logo-box {
    padding: 10px;
  }
  .group-logos .logo-box .each-logo {
    width: 45px;
    height: 45px;
  }
  .comment-box .ceo-comment h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .comment-box .ceo-comment p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .about-us-content .right p {
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .about-us-content .right .buttons {
    justify-content: space-between;
  }
  .about-us-content img {
    display: none;
  }
  .about-us .buttons > a {
    flex-grow: 1;
  }
  .govahiname {
    padding-bottom: 50px;
  }
  .govahiname-bg {
    height: 100px;
  }
  .govahiname .each-govahiname,
  .maghalat .each-govahiname {
    height: 200px;
    border-radius: 18px;
  }
  .akhbar .each-akhbar {
    height: 450px;
  }
  .maghalat p,
  .akhbar p {
    font-size: 14px;
    line-height: 22px;
  }
  footer .footer-menu {
    flex-direction: column;
    gap: 15px;
  }
  footer .footer-nav {
    gap: 1px;
  }
  footer h3 > a {
    font-size: 16px;
  }
  footer a {
    font-size: 12px;
    line-height: 22px;
  }
}
/* /////////////////////////
////////////////////////////
/////////////////////////// */
@media only screen and (min-width: 720px) and (max-width: 1080px) {
  .top-header {
    padding: 5px 10px;
  }
  .logo {
    width: 100px;
  }
  .top-menu .btn-orange {
    font-size: 12px;
    padding: 3px 5px;
  }
  .top-header .bio-language a {
    font-size: 14px;
  }
  .hero h1 {
    right: 50px;
    bottom: 50%;
  }
  .hero .hero-info {
    width: 90%;
    padding: 15px 20px;
  }
  .hero .hero-info p {
    font-size: 24px;
    line-height: 25px;
  }
  .hero .hero-info p span {
    font-size: 20px;
  }
  .kasbokar-rect {
    height: 50px;
  }

  .kasbokar-circle {
    margin-top: -77px;
  }
  .kasbokar-circle .circle {
    width: 100px;
    height: 100px;
  }
  .kasbokar-circle span {
    font-size: 16px;
  }
  .partner-brands h2 {
    font-size: 30px;
  }
  .comment-box img.ceo-comment-logo {
    width: 90px;
    height: 90px;
  }
  .comment-box .ceo-comment h3 {
    font-size: 24px;
  }
  .comment-box .ceo-comment p {
    font-size: 20px;
  }
  .about-us-content {
    gap: 20px;
  }
  .about-us-content .right p {
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
  }
  .about-us-content img {
    /* display: none; */
    width: 250px;
    height: 430px;
    border-radius: 38px;
  }
  .govahiname-bg {
    height: 100px;
  }
  .govahiname .each-govahiname,
  .maghalat .each-govahiname {
    height: 350px;
  }
}
